extend layout
block content
  h1.
    MY DASHBOARD
  p
    | Welcome back to your fitness tracker.
    | <a href="/lognew">Log new workout</a>
block workouts
  .widget
    h1 RECENT WORKOUTS
    p
      | <a href="/workouts">View All</a>
    p
      | Ran 7.56 km on 13/07/2015
block routes
  .widget
    h1 RECENT ROUTES
    p
      | View All
    p
      | Phoenix Park Run

