extends layout
block content
  h1= title
  form#formAddWorkout(name="addworkout",method="post",action="/lognew")
        input#inputActivityID(type="text", placeholder="ActivityID", name="ActivityID")
        input#inputActivityName(type="text", placeholder="ActivityName", name="ActivityName")
        input#inputDescription(type="text", placeholder="Description", name="Description")
        input#inputBeginTimestamp(type="text", placeholder="BeginTimestamp", name="BeginTimestamp")
        input#inputBeginTimestampRawMilliseconds(type="text", placeholder="BeginTimestampRawMilliseconds", name="BeginTimestampRawMilliseconds")
        input#inputEndTimestamp(type="text", placeholder="EndTimestamp", name="EndTimestamp")
        input#inputEndTimestampRawMilliseconds(type="text", placeholder="EndTimestampRawMilliseconds", name="EndTimestampRawMilliseconds")
        input#inputDevice(type="text", placeholder="Device", name="Device")
        input#inputActivityParent(type="text", placeholder="ActivityParent", name="ActivityParent")
        input#inputActivityType(type="text", placeholder="ActivityType", name="ActivityType")
        input#inputEventType(type="text", placeholder="EventType", name="EventType")
        input#inputActivityTimeZone(type="text", placeholder="ActivityTimeZone", name="ActivityTimeZone")
        input#inputMaxElevation(type="text", placeholder="MaxElevation", name="MaxElevation")
        input#inputMaxElevationRaw(type="text", placeholder="MaxElevationRaw", name="MaxElevationRaw")
        input#inputBeginLatitudeDecimalDegreesRaw(type="text", placeholder="BeginLatitudeDecimalDegreesRaw", name="BeginLatitudeDecimalDegreesRaw")
        input#inputBeginLongitudeDecimalDegreesRaw(type="text", placeholder="BeginLongitudeDecimalDegreesRaw", name="BeginLongitudeDecimalDegreesRaw")
        input#inputEndLatitudeDecimalDegreesRaw(type="text", placeholder="EndLatitudeDecimalDegreesRaw", name="EndLatitudeDecimalDegreesRaw")
        input#inputEndLongitudeDecimalDegreesRaw(type="text", placeholder="EndLongitudeDecimalDegreesRaw", name="EndLongitudeDecimalDegreesRaw")
        input#inputAverageMovingSpeed(type="text", placeholder="AverageMovingSpeed", name="AverageMovingSpeed")
        input#inputAverageMovingSpeedRaw(type="text", placeholder="AverageMovingSpeedRaw", name="AverageMovingSpeedRaw")
        input#inputMaxHeartRatebpm(type="text", placeholder="MaxHeartRatebpm", name="MaxHeartRatebpm")
        input#inputAverageHeartRatebpm(type="text", placeholder="AverageHeartRatebpm", name="AverageHeartRatebpm")
        input#inputMaxSpeed(type="text", placeholder="MaxSpeed", name="MaxSpeed")
        input#inputMaxSpeedRaw(type="text", placeholder="MaxSpeedRaw", name="MaxSpeedRaw")
        input#inputCalories(type="text", placeholder="Calories", name="Calories")
        input#inputCaloriesRaw(type="text", placeholder="CaloriesRaw", name="CaloriesRaw")
        input#inputDuration(type="text", placeholder="Duration", name="Duration")
        input#inputDurationRawSeconds(type="text", placeholder="DurationRawSeconds", name="DurationRawSeconds")
        input#inputMovingDuration(type="text", placeholder="MovingDuration", name="MovingDuration")
        input#inputMovingDurationRawSeconds(type="text", placeholder="MovingDurationRawSeconds", name="MovingDurationRawSeconds")
        input#inputAverageSpeed(type="text", placeholder="AverageSpeed", name="AverageSpeed")
        input#inputAverageSpeedRaw(type="text", placeholder="AverageSpeedRaw", name="AverageSpeedRaw")
        input#inputDistance(type="text", placeholder="Distance", name="Distance")
        input#inputDistanceRaw(type="text", placeholder="DistanceRaw", name="DistanceRaw")
        input#inputMaxHeartRatebpm(type="text", placeholder="MaxHeartRatebpm", name="MaxHeartRatebpm")
        input#inputMinElevation(type="text", placeholder="MinElevation", name="MinElevation")
        input#inputMinElevationRaw(type="text", placeholder="MinElevationRaw", name="MinElevationRaw")
        input#inputElevationGain(type="text", placeholder="ElevationGain", name="ElevationGain")
        input#inputElevationGainRaw(type="text", placeholder="ElevationGainRaw", name="ElevationGainRaw")
        input#inputElevationLoss(type="text", placeholder="ElevationLoss", name="ElevationLoss")
        input#inputElevationLossRaw(type="text", placeholder="ElevationLossRaw", name="ElevationLossRaw")
        button#btnSubmit(type="submit") submit
  h1 Or submit a file:
    form#fileUpload(method="POST", action="/uploads/upload"  enctype="multipart/form-data")
        label(for="payload") Select a file to upload: 
        input#payload(type="file", name="workout")
        br 
        button#upload Upload